@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

body {
  box-sizing: border-box;
  position: relative;
  background-image: url('/assets/stars-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 38px;
  color: #9696A5;
}

.shadow-planet {
  position: absolute;
  left: 36%;
  top: 4%;
  z-index: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 32px;
  width: calc(100% - 64px);

  .left {
    .header-logo {
      height: 24px;
    }
    img {
      height: 18px;
      padding-right: 22px;
      vertical-align: middle;
    }
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
      display: none;
    }

    .menu-item {
      padding: 0 8px;

      a {
        font-weight: normal;
        color: #9696A5;
        font-size: 15px;
        text-decoration: none;
      }
    }
  }
}

h1 {
  font-weight: 300;
  font-size: 52px;
  line-height: 70px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 1000px) {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
}

.button {
  padding: 12px 32px;
  background: #12D6D6;
  border-radius: 3px;
  font-size: 14px;
  margin: 0 8px;
  outline: none;
  border: none;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 14px;

  a {
    color: #121212;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
}

.container {
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  max-width: 1290px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .left-side {
    width: 50%;
    max-width: 520px;
    @media (max-width: 1000px) {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    form {
      display: flex;
      width: 100%;
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .button {
        width: 164px;
        font-size: 14px;
        line-height: 16px;
        padding: 16px 32px;
        white-space: nowrap;
        height: 48px;
        @media (max-width: 1000px) {
          margin-top: 12px;
        }
      }

      .form-item {

      }
    }


    .signin-row {
      font-weight: normal;
      font-size: 15px;
      line-height: 28px;
    }
  }

  .right-side {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 1000px) {
      display: none;
    }

    .slack-planet {
      max-width: 80%;
    }

    .powered-by {
      font-size: 13px;
      line-height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: normal;

      img {
        padding: 0 8px;
      }
    }
  }
}

a {
  color: #12D6D6;
  text-decoration: none;
}

input, textarea {
  opacity: 0.6;
  font-weight: normal;
  color: white !important;
  outline: none;
  border: none;
  background: transparent;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(56, 56, 56);

  &:focus {
    opacity: 1;
  }

  &::placeholder {
    font-size: 18px;
    font-weight: normal;
    color: rgb(56, 56, 56);
  }
}

.footer {
  margin-top: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1000px) {
    margin-top: 32px;
  }

  .social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 0 32px;
    max-width: 720px;
    @media (max-width: 1000px) {
      display: none;
    }

    a {
      &:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(85%) saturate(2173%) hue-rotate(130deg) brightness(102%) contrast(86%);
      }
    }
  }

  .links-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 32px;
    @media (max-width: 1000px) {
      padding-top: 32px;
      flex-direction: column;
    }

    a {
      font-weight: normal;
      font-size: 15px;
      line-height: 28px;
      color: #9696A5;
      @media (max-width: 1000px) {
        padding-top: 8px;
      }
    }

    .vertical-divider {
      padding-left: 32px;
      margin-right: 32px;
      border-right: 1px solid #9696A5;
      display: inline-block;
      height: 50%;
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  .copyright-row {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #596274;
    padding-bottom: 32px;
  }
}

// stylelint-disable-next-line selector-max-id
#h-captcha {
  display: none;
}
